<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNMPKit OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SNMPKit iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SNMPKit tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A790615D1CA5C6A200EE600C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A790616D1CA5C76A00EE600C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A790617A1CA5C79100EE600C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A79061871CA5C7B400EE600C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
